.rated {
  padding-top: 3rem;
  padding-bottom: 3rem;
  
}

.rated__content {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 200px;
}

.rated__list {
  text-align: center;
  display: inline-block;

  background-color: var(--light-grayish-magenta);

  padding: 0.75rem;

  margin-bottom: 0.75rem;
}

.rated__starts {
  margin-right: 0.5rem;
  margin-bottom: 0.75rem;
}

.rated__description {
  color: var(--very-dark-magenta);
  font-weight: 700;
}

@media screen and (min-width: 1024px) {
  .rated {
    flex: 1 1 40%;
  }

  .rated__list:nth-child(2) {
    margin-right: 20px;
  }

  .rated__list:nth-child(3) {
    margin-right: 40px;
  }
}